.sidebar {
  padding-top: 16px;
  width: 50px;
  background-color: var(--primary-color) !important;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  z-index: 1000;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-grow: 1;
    overflow-y: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    color: #fffbfb;
    text-decoration: none;
    transition: padding 0.3s ease;
  }

  .nav-link:hover {
    background-color: #234567;
  }

  .menu-text {
    display: none;
    margin-left: 12px;
  }

  &:hover {
    width: 200px;

    .nav-link {
      padding-left: 20px;
    }

    .menu-text {
      display: inline-block;
    }
  }
}
