<nav class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">
          <i class="bi bi-house"></i>
          <span class="menu-text">Usuarios</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">
          <i class="bi bi-cart3"></i>
          <span class="menu-text">Transacciones</span>
        </a>
      </li>
      <!-- Agrega más elementos de menú aquí -->
    </ul>
  </nav>