<nav
  class="sidebar justify-content-between"
  (mouseenter)="setMouseHover(true)"
  (mouseleave)="setMouseHover(false)"
>
  <ul class="nav flex-column">
    <li class="nav-item" *ngFor="let menu of visibleMenus">
      <app-menu-item [menu]="menu" [isActive]="isMouseHover" />
    </li>
  </ul>
  <ul class="monitor nav flex-column justify-content-end">
    <li class="nav-item" *ngFor="let metric of monitorResponse.metrics">
      <app-monitor-item [metric]="metric" [isActive]="isMouseHover" />
    </li>
  </ul>
</nav>
