<div class="row mx-2" *ngIf="showBanner && showPromotion; else showOne">
  <div class="col">
    <app-reactive-form-input-image
      *ngIf="showBanner"
      inputId="banner_image"
      [control]="imageForm.controls.banner_image"
      [previewUrlImage]="previewBannerImageURL"
      label="Banner img."
      (fileChange)="onFileChange($event, FILETYPES.BANNER_IMAGE)"
    />
  </div>
  <div class="col-2"></div>
  <div class="col">
    <app-reactive-form-input-image
      *ngIf="showPromotion"
      inputId="promotion_image"
      [control]="imageForm.controls.promotion_image"
      [previewUrlImage]="previewPromotionImageURL"
      label="Promotion img."
      (fileChange)="onFileChange($event, FILETYPES.PROMOTION_IMAGE)"
    />
  </div>
</div>

<ng-template #showOne>
  <div class="row mx-2">
    <app-reactive-form-input-image
      *ngIf="showBanner"
      inputId="banner_image"
      [control]="imageForm.controls.banner_image"
      [previewUrlImage]="previewBannerImageURL"
      label="Banner img."
      (fileChange)="onFileChange($event, FILETYPES.BANNER_IMAGE)"
    />

    <app-reactive-form-input-image
      *ngIf="showPromotion"
      inputId="promotion_image"
      [control]="imageForm.controls.promotion_image"
      [previewUrlImage]="previewPromotionImageURL"
      label="Promotion img."
      (fileChange)="onFileChange($event, FILETYPES.PROMOTION_IMAGE)"
    />
  </div>
</ng-template>
