.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.ngb-dp-weekday {
  color: var(--primary-color);
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;

  &.focused {
    background-color: #e6e6e6;
  }

  &.range,
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }

  &.faded {
    background-color: var(--primary-color);
    opacity: 0.5;
  }
}
