<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <form class="row g-3" novalidate [formGroup]="updateKycUserInformationForm">
      <div>
        <label class="form-label required" for="first-name">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="first-name"
          id="first-name"
          [formControl]="getControl('name')"
          [class.is-invalid]="isInvalidControl('name')"
        />
        <div class="invalid-feedback">
          <span *ngIf="hasError('name', 'required')">Campo requerido</span>
        </div>
      </div>
      <div>
        <label class="form-label required" for="last-name">Apellido</label>
        <input
          class="form-control"
          type="text"
          name="last-name"
          id="last-name"
          [formControl]="getControl('lastName')"
          [class.is-invalid]="isInvalidControl('lastName')"
        />
        <div class="invalid-feedback">
          <span *ngIf="hasError('lastName', 'required')">Campo requerido</span>
        </div>
      </div>
      <div>
        <label class="form-label required" for="birthday"
          >Fecha de cumpleaños</label
        >
        <input
          class="form-control"
          type="date"
          name="birthday"
          id="birthday"
          [formControl]="getControl('birthDate')"
          [class.is-invalid]="isInvalidControl('birthDate')"
        />
        <div class="invalid-feedback">
          <span *ngIf="hasError('birthDate', 'required')">Campo requerido</span>
        </div>
      </div>
      <div>
        <label class="form-label required">Género</label>
        <div class="d-grid gap-2 ps-1">
          <div class="d-flex gap-1">
            <input
              class="input-radio"
              type="radio"
              name="gender"
              id="gender-male"
              value="Masculino"
              [formControl]="getControl('gender')"
            />
            <label class="label-input-radio" for="gender-male">Masculino</label>
          </div>
          <div class="d-flex gap-1">
            <input
              class="input-radio"
              type="radio"
              name="gender"
              id="gender-female"
              value="Femenino"
              [formControl]="getControl('gender')"
            />
            <label class="label-input-radio" for="gender-female"
              >Femenino</label
            >
          </div>
        </div>
        <div class="invalid-feedback d-block">
          <span *ngIf="hasError('gender', 'required')">Campo requerido</span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <app-spinner *ngIf="isSubmitting()" />
    <button
      type="button"
      class="btn btn-outline-dark"
      data-bs-dismiss="modal"
      (click)="closeModal()"
    >
      Cerrar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="saveChanges()"
      [disabled]="updateKycUserInformationForm.invalid || isSubmitting()"
    >
      Enviar
    </button>
  </div>
</div>
