<div class="mb-3 row">
  <label [for]="inputId" class="col-sm-4 col-form-label">{{ label }} </label>
  <div class="col-sm-8">
    <input
      [id]="inputId"
      [placeholder]="placeholder"
      [type]="type"
      [min]="min"
      [max]="max"
      [minlength]="minlength"
      [maxlength]="maxlength"
      class="form-control"
      [formControl]="control"
      [ngClass]="{
        'is-invalid': control.invalid  && control.touched,
        'is-valid': control.valid && control.touched,
      }"
    />
    <ng-container *ngIf="control.invalid && control.touched">
      <div
        class="invalid-feedback"
        *ngFor="let error of control.errors | keyvalue"
      >
        <ng-container *ngIf="errorMessages[error.key]; else noErrorMessage">{{
          errorMessages[error.key]
        }}</ng-container>
        <ng-template #noErrorMessage>
          Verificar este campo, por favor.
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
