<div class="card shadow border-light row px-3 py-4 mb-4">
  <div class="row">
    <div class="col-md-8 align-self-center">
      <h3 *ngIf="!isEcommercesLoading() || ecommercesResponse()">
        Comercios Vinculados
      </h3>
    </div>
    <div class="col-md-4">
      <app-pagination
        *ngIf="ecommercesResponse()"
        itemName="Transacciones"
        (pageChange)="onEcommerceCurrentPageChange($event)"
        [page]="ecommercesResponse()?.current_page!"
        [totalPages]="ecommercesResponse()?.total_pages!"
        [totalItems]="ecommercesResponse()?.total_items!"
        [itemsPerPage]="ecommercesPerPage"
      />
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <p *ngIf="!isEcommercesLoading() && !ecommercesResponse()">
          No hay comercios vinculados
        </p>
        <app-client-deatil-ecommerces-table
          *ngIf="!isEcommercesLoading() && ecommercesResponse()"
          [ecommerces]="ecommerceList"
        ></app-client-deatil-ecommerces-table>
        <app-spinner *ngIf="isEcommercesLoading()"></app-spinner>
      </div>
    </div>
  </div>
</div>
