<div class="card shadow h-100">
  <div class="card-body">
    <ng-container *ngIf="!isLoading; else skeletonTemplate">
      <h5 class="card-title text-primary">Saldo disponible</h5>
      <hr />
      <div
        class="available-balance"
        *ngIf="accountDetail?.accounts?.at(0) as account; else errorTemplate"
      >
        <p class="balance">
          {{ account.availableBalance | number : '1.0-2' }}
        </p>
        <div class="status">
          <label class="label-status" for="statusValue">Status cuenta: </label>
          <text
            id="statusValue"
            [ngClass]="{
              'vaule-status': true,
              'bg-green': account.enabledAccount,
              'bg-red': !account.enabledAccount
            }"
            >{{ account.enabledAccount }}</text
          >
        </div>
        <div class="action">
          <hr />
          <app-icon-button
            icon="bi bi-eye"
            (clickEmiter)="showAccountDetail()"
            tooltip="Ver detalle"
            [isLoading]="isLoading"
          />
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #errorTemplate>
  <app-error-retry (emitRetryButton)="outputOnRetryButtonClick()" />
</ng-template>

<ng-template #skeletonTemplate>
  <h5 class="card-title text-primary" *ngIf="isLoading">
    <p class="placeholder-glow">
      <span class="placeholder col-6"></span>
    </p>
  </h5>
  <hr />
  <div class="available-balance">
    <p class="balance-placeholder placeholder-glow">
      <span class="placeholder col-6"></span>
    </p>
    <div class="status">
      <p class="placeholder-glow label-status">
        <span class="placeholder col-6"></span>
      </p>
    </div>
    <div class="action">
      <hr />
      <app-icon-button icon="bi bi-eye" [isLoading]="true" />
    </div>
  </div>
</ng-template>
