<div class="card shadow h-100">
  <div class="card-body">
    <h5 class="card-title text-primary" *ngIf="!isLoading">Saldo disponible</h5>
    <hr />
    <div class="available-balance">
      <p class="balance" *ngIf="accountDetail.accounts.length">
        {{ accountDetail.accounts[0].availableBalance | number : '1.0-2' }}
      </p>
      <div class="status">
        <label class="label-status" for="statusValue">Status cuenta: </label>
        <text
          *ngIf="accountDetail.accounts.length"
          id="statusValue"
          [ngClass]="
            accountDetail.accounts[0].enabledAccount === true
              ? ['vaule-status', 'bg-green']
              : ['vaule-status', 'bg-red']
          "
          >{{ accountDetail.accounts[0].enabledAccount }}</text
        >
      </div>

      <hr />
      <div class="action">
        <app-icon-button
          icon="bi bi-eye"
          (clickEmiter)="showAccountDetail()"
          tooltip="Ver detalle"
        />
      </div>
    </div>
  </div>
</div>
