<form [formGroup]="commonForm" autocomplete="off">
  <div class="row">
    <div class="col">
      <app-reactive-form-input-text
        inputId="id_promotion"
        [control]="commonForm.controls.id_promotion"
        label="Id Promotion"
        [minlength]="3"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="title_text"
        [control]="commonForm.controls.title_text"
        label="Title text"
        [minlength]="3"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="off_text"
        [control]="commonForm.controls.off_text"
        label="Off Text"
        [minlength]="3"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="badge_text"
        [control]="commonForm.controls.badge_text"
        label="Badge Text"
        [minlength]="3"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="badge_background_color"
        [control]="commonForm.controls.badge_background_color"
        label="Badge Background Color"
        type="color"
        [minlength]="3"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="from_date"
        [control]="commonForm.controls.from_date"
        type="date"
        label="From Date"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="to_date"
        [control]="commonForm.controls.to_date"
        [min]="commonForm.controls.from_date.value?.toString()"
        type="date"
        label="To Date"
        placeholder=""
      />
    </div>
    <div class="col-1"></div>
    <div class="col">
      <div class="mb-3 row">
        <label for="commerces" class="col-sm-4 col-form-label">Commerces</label>
        <div class="col-sm-8">
          <ng-multiselect-dropdown
            [placeholder]="'Seleccione comercios'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            formControlName="commerces"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="active" class="col-sm-4 col-form-label">Active</label>
        <div class="col-sm-8">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              formControlName="active"
            />
          </div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="action_type" class="col-sm-4 col-form-label"
          >Action Type</label
        >
        <div class="col-sm-8">
          <select
            formControlName="action_type"
            class="form-select"
            (change)="addActionTypeURlValidators($event)"
          >
            <option *ngFor="let action of action_types" [value]="action.id">
              {{ action.name }}
            </option>
          </select>
        </div>
      </div>

      <app-reactive-form-input-text
        *ngIf="commonForm.controls.action_type.value === 'webview'"
        inputId="action_type_url"
        [control]="commonForm.controls.action_type_url"
        type="url"
        label="Action Type Url"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="header_text"
        [control]="commonForm.controls.header_text"
        type="text"
        label="Header Text"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="subtitle_text"
        [control]="commonForm.controls.subtitle_text"
        type="text"
        label="Subtitle Text"
        placeholder=""
      />
    </div>
  </div>
</form>
