.nav-link {
  display: flex;
  align-items: flex-start;
  color: #ffffff;
  text-decoration: none;
  transition: padding 0.3s ease;
}

.nav-link:hover {
  background-color: #234567;
}

.menu-text {
  min-width: 200px;
  display: none;
  margin-left: 18px;
}

.selected-sidebar {
  display: inline;
  overflow: hidden;
}

.fix-margin {
  margin-left: -2px;
}
