.nav-link {
  display: flex;
  align-items: center;
  color: #fffbfb;
  text-decoration: none;
  transition: padding 0.3s ease;
}

.nav-link:hover {
  color: white;
  background-color: #234567;
  border-radius: 0px 8px 8px 0px;
  margin-right: 8px;
}

.menu-text {
  display: none;
  margin-left: 18px;
}

.menu-active {
  display: inline-block;
}

.route-active {
  background-color: white !important;
  color: var(--primary-color) !important;
  border-radius: 0px 8px 8px 0px;
  margin-right: 8px;
}
