<div class="container">
  <div class="row g-4">
    <div class="col-md-auto">
      <app-range-datepicker
        (startDateChange)="onStartDateChange($event)"
        (endDateChange)="onEndDateChange($event)"
      />
    </div>
    <div class="col-md-auto">
      <app-select
        placeholder="Estados"
        [options]="statusOptions"
        (optionChange)="onStatusChange($event)"
      />
    </div>
    <div class="col-md-auto">
      <app-select
        placeholder="Tipo"
        [options]="typeOptions"
        (optionChange)="onTypeChange($event)"
      />
    </div>
    <div class="col-md-auto">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="amount"
          (keyup)="onAmountChange()"
        />
      </div>
    </div>
  </div>
</div>
