<div class="table-responsive">
  <table class="table default">
    <thead class="table-light text-uppercase">
      <tr class="d-flex">
        <th class="col-3" scope="col">Canal de vinculación</th>
        <th class="col-3" scope="col">Email</th>
        <th class="col-3" scope="col">Fecha de vinculación</th>
        <th class="col-3" scope="col">Estado de vinculación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ecommerce of ecommerces" class="d-flex">
        <td class="col-3">{{ ecommerce?.channel }}</td>
        <td class="col-3">{{ ecommerce?.email }}</td>
        <td class="col-3">{{ ecommerce?.timestamp | date : 'medium' }}</td>
        <td class="col-3">
          <app-default-badge
            [text]="ecommerce.statusValue"
            [color]="ecommerce.statusColor"
          ></app-default-badge>
        </td>
      </tr>
    </tbody>
  </table>
</div>
