<form [formGroup]="promotionForm" autocomplete="off">
  <div class="row">
    <div class="col">
      <app-reactive-form-input-text
        inputId="id_promotion"
        [control]="promotionForm.controls.id_promotion"
        label="Id Promotion"
        [minlength]="3"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="title_text"
        [control]="promotionForm.controls.title_text"
        label="Title Text"
        [minlength]="3"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="off_text"
        [control]="promotionForm.controls.off_text"
        label="Off Text"
        [minlength]="3"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="badge_text"
        [control]="promotionForm.controls.badge_text"
        label="Badge Text"
        [minlength]="3"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="badge_background_color"
        [control]="promotionForm.controls.badge_background_color"
        label="Badge Background Color"
        type="color"
        [minlength]="3"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="from_date"
        [control]="promotionForm.controls.from_date"
        type="date"
        label="From Date"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="to_date"
        [control]="promotionForm.controls.to_date"
        type="date"
        label="To Date"
        placeholder=""
      />
    </div>
    <div class="col-1"></div>
    <div class="col">
      <div class="mb-3 row">
        <label for="comercios" class="col-sm-4 col-form-label">Commerces</label>
        <div class="col-sm-8">
          <ng-multiselect-dropdown
            [placeholder]="'Seleccione comercios'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onItemDeSelect($event)"
            (onDeSelectAll)="onDeSelectAll()"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>

      <div class="mb-3 row">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            formControlName="active"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault"
            >Active</label
          >
        </div>
      </div>

      <div class="mb-3 row">
        <label for="action_type" class="col-sm-4 col-form-label"
          >Action Type</label
        >
        <div class="col-sm-8">
          <select formControlName="action_type" class="form-select">
            <option *ngFor="let action of action_types" [value]="action.id">
              {{ action.name }}
            </option>
          </select>
        </div>
      </div>

      <app-reactive-form-input-text
        *ngIf="promotionForm.controls.action_type.value === 'webview'"
        inputId="action_type_url"
        [control]="promotionForm.controls.action_type_url"
        type="text"
        label="Action Type Url"
        placeholder=""
      />

      <div class="mb-3 row">
        <label for="image_banner_url" class="col-sm-4 col-form-label"
          >Select Image</label
        >
        <div class="col-sm-8">
          <input
            type="file"
            class="form-control"
            id="image_banner_url"
            accept="image/png, image/jpeg"
            (change)="onFileChange($event)"
          />
        </div>
      </div>

      <div class="row mb-3">
        <img
          [src]="previewImage ? URL.createObjectURL(previewImage) : ''"
          alt=""
        />
      </div>

      <app-reactive-form-input-text
        inputId="header_text"
        [control]="promotionForm.controls.header_text"
        type="text"
        label="Header Text"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="main_text"
        [control]="promotionForm.controls.main_text"
        type="text"
        label="Main Text"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="subtitle_text"
        [control]="promotionForm.controls.subtitle_text"
        type="text"
        label="Subtitle Text"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="terms_and_conditions"
        [control]="promotionForm.controls.terms_and_conditions"
        type="text"
        label="Terms And Conditions"
        placeholder=""
      />

      <app-reactive-form-input-text
        inputId="action_button_title"
        [control]="promotionForm.controls.action_button_title"
        type="text"
        label="Action Button title"
        placeholder=""
      />

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          class="btn btn-primary"
          type="button"
          (click)="saveForm()"
          [disabled]="
            promotionForm.invalid || selectedItems.length === 0 || isLoading()
          "
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>
