<form class="row row-cols-sm-auto g-3">
  <div class="col-12 col-md-6">
    <div class="dp-hidden position-absolute">
      <div class="input-group">
        <input
          name="datepickerStart"
          class="form-control"
          ngbDatepicker
          #datepickerStart="ngbDatepicker"
          [autoClose]="'outside'"
          (dateSelect)="onStartDateSelection($event)"
          [displayMonths]="2"
          outsideDays="hidden"
          [startDate]="startDate()!"
          tabindex="-1"
        />
        <input
          name="datepickerEnd"
          class="form-control"
          ngbDatepicker
          #datepickerEnd="ngbDatepicker"
          [autoClose]="'outside'"
          [displayMonths]="2"
          outsideDays="hidden"
          (dateSelect)="onEndDateSelection($event)"
          tabindex="-1"
        />
      </div>
    </div>
    <ng-container
      *ngTemplateOutlet="
        datePicker;
        context: { date: startDate, datePickerContext: datepickerStart }
      "
    />
  </div>
  <div class="col-12 col-md-6">
    <ng-container
      *ngTemplateOutlet="
        datePicker;
        context: { date: endDate, datePickerContext: datepickerEnd }
      "
    />
  </div>
</form>

<!-- TODO: Move this to a separated component -->
<ng-template
  #datePicker
  let-date="date"
  let-datePickerContext="datePickerContext"
>
  <div class="input-group">
    <input
      #dpDate
      class="form-control"
      placeholder="yyyy-mm-dd"
      name="dpFromDate"
      [value]="formatter.format(date())"
      (input)="date.set(validateInput(date(), dpDate.value))"
    />
    <button
      class="btn btn-outline-secondary bi bi-calendar3"
      (click)="datePickerContext.toggle()"
      type="button"
    ></button>
  </div>
</ng-template>
