<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" *ngIf="!promotionToEdit">Banners y Promociones</h5>
    <h5 class="modal-title" *ngIf="promotionToEdit">
      Editando: {{ TypePromotion | uppercase }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-4">
      <app-select
        *ngIf="!promotionToEdit"
        [withPlaceholder]="true"
        [placeholder]="'Seleccione tipo de promoción'"
        [options]="options"
        (optionChange)="onChangePromotionType($event)"
      />
    </div>

    <ng-container
      *ngIf="
        promotionTypeSelected() === PROMOTION_OPTIONS.BANNER ||
        promotionToEdit?.type_promotion === PROMOTION_OPTIONS.BANNER
      "
    >
      <app-banner [promotionToEdit]="promotionToEdit" />
    </ng-container>
    <ng-container
      *ngIf="
        promotionTypeSelected() === PROMOTION_OPTIONS.PROMOTION ||
        promotionToEdit?.type_promotion === PROMOTION_OPTIONS.PROMOTION
      "
    >
      <app-promotion [promotionToEdit]="promotionToEdit" />
    </ng-container>
    <ng-container
      *ngIf="
        promotionTypeSelected() === PROMOTION_OPTIONS.BANNER_AND_PROMOTION ||
        promotionToEdit?.type_promotion ===
          PROMOTION_OPTIONS.BANNER_AND_PROMOTION
      "
    >
      <app-banner-and-promotion [promotionToEdit]="promotionToEdit" />
    </ng-container>
  </div>
</div>
