<div class="d-grid gap-4">
  <div class="row">
    <app-navigate-button to="/clients" message="Volver" />
  </div>

  <ng-container *ngIf="!hasClientError()">
    <app-cards-info-section />
    <app-ecommerces-section />
  </ng-container>

  <ng-container *ngIf="hasClientError()">
    <app-error-retry (emitRetryButton)="retryClientButton()" />
  </ng-container>

  <ng-container *ngIf="!hasPaymentMethodsError()">
    <app-payments-methods-section />
    <app-transaction-section />
  </ng-container>

  <ng-container *ngIf="hasPaymentMethodsError()">
    <app-error-retry (emitRetryButton)="retryPaymentMethodsButton()" />
  </ng-container>
</div>
