<div class="table-responsive-sm">
  <table class="table default">
    <thead class="table-light text-uppercase">
      <tr class="d-flex">
        <th class="col-1 text-center" scope="col">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
            (click)="onAllCheckBoxClick()"
            [checked]="isAllCheckSelected"
          />
        </th>
        <th class="col-2" scope="col">Número de tarjeta</th>
        <th class="col-2" scope="col">Marca</th>
        <th class="col-1" scope="col">Tipo</th>
        <th class="col-1" scope="col">Activo</th>
        <th class="col-1" scope="col">Heredada</th>
        <th class="col-2" scope="col">Fecha vinculación</th>
        <th class="col-2" scope="col">Fecha desvinculación</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let paymentMethod of paymentsMehtods"
        class="d-flex"
        [class.table-primary]="selectedPaymentMethodIds.has(paymentMethod.id)"
      >
        <td class="col-1 text-center">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
            (click)="onCheckBoxItemClick(paymentMethod.id)"
            [checked]="selectedPaymentMethodIds.has(paymentMethod.id)"
          />
        </td>
        <td class="col-2">
          <span *ngIf="paymentMethod.payment_method_type === cardType">
            **** **** **** {{ paymentMethod.mask }}
          </span>
        </td>
        <td class="col-2">{{ paymentMethod.brand }}</td>
        <td class="col-1">{{ paymentMethod.card_type }}</td>
        <td class="col-1">
          <app-default-badge
            [text]="paymentMethod.is_active ? 'SI' : 'NO'"
            [color]="paymentMethod.is_active ? successColor : dangerColor"
          ></app-default-badge>
        </td>
        <td class="col-1">
          <app-default-badge
            *ngIf="paymentMethod.payment_method_type === cardType"
            [text]="paymentMethod.is_inherited ? 'SI' : 'NO'"
            [color]="paymentMethod.is_inherited ? successColor : dangerColor"
          ></app-default-badge>
        </td>
        <td class="col-2">{{ paymentMethod.added_at | date : 'medium' }}</td>
        <td class="col-2">{{ paymentMethod.deleted_at | date : 'medium' }}</td>
      </tr>
    </tbody>
  </table>
</div>
