@import '~@aws-amplify/ui-angular/theme.css';
@import '~bootstrap/dist/css/bootstrap.css';

$primary-color: rgb(18, 52, 86);

:root {
  --primary-color: rgb(18, 52, 86);
}

html,
body,
app-root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.text-white {
  color: white;
}
