<div class="card shadow h-100" *ngIf="!isLoading; else loading">
  <div class="card-body">
    <h5 class="card-title text-primary">
      {{ title || ' ' }}
    </h5>
    <hr />
    <table class="table table-borderless">
      <tbody>
        <tr *ngFor="let info of data">
          <th scope="row">{{ info.title }}</th>
          <td *ngIf="!info.isBadge">{{ info.value }}</td>
          <td *ngIf="info.isBadge">
            <app-default-badge
              [text]="info.value"
              [color]="info.color!"
            ></app-default-badge>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer custom-card-footer" *ngIf="hasTools">
    <div class="btn-group" role="group" *ngIf="!isBlockUnblockClientLoading">
      <button
        [disabled]="isBlockUnblockClientLoading"
        type="button"
        class="btn btn-outline-primary"
        (click)="blockUnblockClientEmmiter.emit()"
      >
        {{ blockUnblockClientButtonText }}
      </button>
    </div>
    <span class="placeholder-glow" *ngIf="isBlockUnblockClientLoading">
      <a
        href="#"
        tabindex="-1"
        class="btn btn-primary disabled placeholder col-3"
        aria-hidden="true"
      ></a>
    </span>
  </div>
</div>

<ng-template #loading>
  <div class="card shadow h-100">
    <div class="card-body">
      <h5 class="card-title text-primary">
        <p class="placeholder-glow">
          <span class="placeholder col-6"></span>
        </p>
      </h5>
      <hr />
      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let dummy of [].constructor(elementCount)">
            <th scope="row">
              <p class="placeholder-glow">
                <span class="placeholder col-6"></span>
              </p>
            </th>
            <td>
              <p class="placeholder-glow">
                <span class="placeholder col-6"></span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer custom-card-footer" *ngIf="hasTools">
      <span class="placeholder-glow">
        <a
          href="#"
          tabindex="-1"
          class="btn btn-primary disabled placeholder col-4"
          aria-hidden="true"
        ></a>
      </span>
    </div>
  </div>
</ng-template>
