<div class="row">
  <div class="col-md-12 col-lg-4 mb-4">
    <app-card-photo-info
      [isLoading]="isClientLoadingSig()"
      [clientName]="clientName"
      (signoutAccountButtonClickEvent)="signoutClick()"
    ></app-card-photo-info>
  </div>
  <div class="col-md-12 col-lg-4 mb-4">
    <app-card-info
      [isLoading]="isClientLoadingSig()"
      [title]="basicInfoCardData.title"
      [data]="basicInfoCardData.data"
      [elementCount]="5"
    ></app-card-info>
  </div>
  <div class="col-md-12 col-lg-4 mb-4">
    <app-card-info
      [isLoading]="isClientLoadingSig()"
      [title]="statusCardData.title"
      [data]="statusCardData.data"
      [elementCount]="4"
    ></app-card-info>
  </div>
</div>
