<div class="table-responsive">
  <table class="table default">
    <thead class="table">
      <tr class="d-flex">
        <th class="col-3" scope="col">Email</th>
        <th class="col-2" scope="col">Nombre</th>
        <th class="col-1" scope="col">Rut</th>
        <th class="col-2" scope="col">Teléfono</th>
        <th class="col-2" scope="col">Creación</th>
        <th class="col-2" scope="col">Herramientas</th>
      </tr>
    </thead>
    <tbody class="table-hover">
      <tr *ngFor="let client of clients" class="d-flex">
        <th
          class="col-3"
          scope="col"
          routerLink="{{ '/clients/' + client?.id }}"
        >
          <p class="pointer">{{ client?.email }}</p>
        </th>
        <th class="col-2" scope="col">
          {{ client?.name }} {{ client?.last_name }}
        </th>
        <th class="col-1" scope="col">{{ client?.rut | rut }}</th>
        <th class="col-2" scope="col">{{ client?.phone_number }}</th>
        <th class="col-2" scope="col">
          {{ client?.created_at | date : 'medium' }}
        </th>
        <th class="col-2" scope="col">
          <!-- TODO: este botón espera desarrollo de funcionalidad -->
          <!-- <app-icon-button
            [icon]="'bi-box-arrow-right'"
            title="Cerrar sesión"
            tooltip="Cerrar sesión"
            (click)="signOff(content, client.rut)"
          ></app-icon-button> -->
          <app-icon-button
            [icon]="'bi bi-plus'"
            title="Agregar información"
            tooltip="Agregar información"
            (click)="addInfo(client.id)"
          ></app-icon-button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
<!-- TODO: este modal espera desarrollo de funcionalidad -->
<!-- <ng-template #content let-modal id="modal-basic-title">
  <app-actions-modal
    [title]="title"
    [modal]="modal"
    [body]="body"
    [actions]="actions"
  ></app-actions-modal>
</ng-template> -->
