@import '../../../../../styles.scss';

.pointer {
  color: $primary-color;
}
.pointer:hover {
  cursor: pointer;
  text-decoration: underline;
}
table {
  tbody {
    th {
      font-weight: 400;
      color: rgb(126, 134, 140);
    }
  }
  thead {
    tr {
      th {
        color: white !important;
        font-size: 12px;
        background-color: $primary-color !important;
      }
    }
  }
  tbody {
    tr {
      padding-top: 15px;
    }
  }
}
