<div class="card text-center shadow h-100">
  <div class="card-body">
    <div class="avatar-container mb-3">
      <div class="avatar">{{ getInitials() }}</div>
    </div>
    <h5 class="card-title" *ngIf="!isLoading">
      {{ clientName }}
    </h5>
    <h5 class="card-title" *ngIf="isLoading">
      <p class="placeholder-glow">
        <span class="placeholder col-6"></span>
      </p>
    </h5>
    <hr />
    <app-icon-button
      [isLoading]="isLoading"
      [icon]="'bi-box-arrow-right'"
      (clickEmiter)="onSignoutButtonClick()"
    ></app-icon-button>
  </div>
</div>
