.avatar-container {
  display: flex;
  justify-content: center;
}

.avatar {
  color: #000000;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  font-weight: 600;
  font-size: 150px;
  background: lighten(nth(#878f99, 1), 20%);
}
